<mat-toolbar class="header">
  <a routerLink="/home" class="header-home-link"><img class="header-app-logo" src="assets/images/anybotics-logo-dark.png" alt="ANYbotics logo" /></a>
  <button mat-icon-button class="header-burger-menu" aria-label="Main navigation menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="header-app-title">{{ appTitle }}</span>
  <span class="header-spacer"></span>
  <a [href]="projectGitUrl" mat-icon-button class="header-git-link-icon" aria-label="Project Git link"><mat-icon>share</mat-icon></a>
</mat-toolbar>
