<h1>Mission Planner</h1>
<div class="planner">
  <div class="planner-form-container">
    <form [formGroup]="addForm" (ngSubmit)="onSubmit(addForm)" class="planner-form">
      <mat-form-field appearance="fill" class="planner-form-name">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <mat-form-field appearance="fill" class="planner-form-x">
        <mat-label>X</mat-label>
        <input matInput formControlName="x" type="number" />
      </mat-form-field>
      <mat-form-field appearance="fill" class="planner-form-y">
        <mat-label>Y</mat-label>
        <input matInput formControlName="y" type="number" />
      </mat-form-field>
      <button mat-button type="submit" class="planner-form-submit">Add</button>
    </form>
  </div>
  <div class="planner-waypoints-table-container">
    <mat-table stickyHeader [dataSource]="dataSource" class="planner-waypoints-table">
      <!-- Index Column -->
      <ng-container matColumnDef="index">
        <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index; let count = count"> {{ count - i }} </mat-cell>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
      </ng-container>

      <!-- X Column -->
      <ng-container matColumnDef="x">
        <mat-header-cell *matHeaderCellDef> X </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.x }} </mat-cell>
      </ng-container>

      <!-- Y Column -->
      <ng-container matColumnDef="y">
        <mat-header-cell *matHeaderCellDef> Y </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.y }} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
</div>
