<h1>Home</h1>
<h2>App Overview 🤖</h2>

<p>
  This app allows operators to easily plan and visualize inspection missions for four-legged utility robots. The purpose is to empower operators to designate waypoints
  and routes for the robots to autonomously navigate and perform inspection tasks.
</p>

<p>The app uses Angular and Angular Material for the frontend and has a three page structure:</p>

<ul>
  <li>Home Page - Provides an overview and build/run instructions.</li>
  <li>Planner Page - Allows creating/editing robot waypoints.</li>
  <li>Player Page - Visualizes and plays back the route.</li>
</ul>

<p>The app follows consistent coding standards including:</p>

<ul>
  <li>168 character line length limit</li>
  <li>CSS BEM methodology</li>
  <li>Route/feature based hierarchical folder structure</li>
</ul>

<h2>Running the App ⚡</h2>

<p>To serve the app locally:</p>

<ul>
  <li>Clone the repo</li>
  <li>Run <code>npm install</code> to install dependencies</li>
  <li>Run <code>ng serve</code> to compile and serve on <code>http://localhost:4200</code></li>
</ul>

<h2>Building the App 🚧</h2>

<p>To build for production:</p>

<ul>
  <li>Run <code>ng build</code></li>
  <li>Build artifacts will be in <code>dist/</code></li>
  <li>Use <code>--prod</code> flag for a production build</li>
</ul>

<h2>Testing ⌛</h2>

<p>Unit tests:</p>
<ul>
  <li>Run <code>ng test</code> to execute unit tests via Karma</li>
</ul>

<p>Additional commands:</p>

<ul>
  <li><code>ng format</code> to auto-format with Prettier</li>
</ul>

<p>The app can be deployed by serving the <code>dist/</code> folder on a production server.</p>
